{% extends 'base.html' %}
{% block title %}Entidades{% endblock %}
{% block content %}
<h2>Lista de Entidades</h2>

<a href="{% url 'crear_entidad' %}" class="btn btn-primary mb-3">➕ Nueva Entidad</a>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for entidad in entidades %}
    <tr>
      <td>{{ entidad.nombre }}</td>
      <td>
        {% if request.user.is_staff and entidad.proceso.estado == 'en_curso' %}
        {% if request.user.is_staff %}
        <a class="btn btn-primary btn-sm" href="{% url 'priorizar_entidad' entidad.id %}">Priorizar Entidad</a>
        {% endif %}
        <a class="btn btn-danger btn-sm" href="{% url 'eliminar_entidad' entidad.id %}">🗑️ Eliminar</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}