<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'inicio' %}">Sistema Cajas</a>
    <div class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav me-auto">
        {% if request.user.is_authenticated %}

        <li class="nav-item"><a class="nav-link" href="{% url 'lista_cajas' %}">📦 Cajas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'historial' %}">👤 Mi Historial</a></li>
        {% if request.user.is_staff %}
        <li class="nav-item"><a class="nav-link" href="{% url 'lista_entidades' %}">🏢 Entidades</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'lista_procesos' %}">⚙️ Procesos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'formulario_reporte' %}">📈 Reportes</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'registrar_usuario' %}">👥 Crear Usuario</a></li>
        <a class="nav-link" href="{% url 'listar_usuarios' %}">👥 Usuarios</a>

        {% endif %}
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <form method="POST" action="{% url 'logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm">Cerrar Sesión</button>
          </form>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>